
services:
  db:
    image: postgres:15
    container_name: postgres_database
    restart: always
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_DB: "postgres"
      POSTGRES_PASSWORD: "password"
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: fast_practice
    depends_on:
      - db
    # env_file:
    #   - .env
    ports:
      - "8000:8000"
    command: >
      uvicorn main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  postgres_data: