on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: repoclone
        uses: actions/checkout@v4
      
      - name: python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
        
      - name: install dependencies
        run: pip install -r requirements.txt
      
      - name: tests
        # env: 
        #   DATABASE_URL: postgresql://postgres:password@localhost:5432/tests
        run: pytest -v
    
  cd:
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: repoclone
        uses: actions/checkout@v4
      
      - name: login docker
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}  
      
      - name: deploy
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{secrets.DOCKER_USERNAME}}/journal-app:latest